.switch-btn {
    width: 50px;
    height: 24px;
    text-align: center;
    position: relative;
    display: inline-block;
}

.switch-btn * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*******************/
/*normal*/
.switch-btn > input[type='checkbox'],
.switch-btn > label {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: block;
    position: absolute;
}

.switch-btn > input[type='checkbox'] {
    z-index: 100;
    opacity: 0;
}

.switch-btn > label {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background-color: #e0e0e0;
}

.switch-btn > label::after {
    content: '';
    width: 26px;
    height: 26px;
    background-color: #fff;
    display: block;
    position: absolute;
    left: -1px;
    top: 0;
    bottom: 0;
    margin:auto 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.switch-btn > label,
.switch-btn > label::after {
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

/*hover*/
.switch-btn > input[type='checkbox']:hover + label::after {
    -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.15);
}

/*checked*/
.switch-btn > input[type='checkbox']:checked + label {
    background-color: #2ecc71;
}

.switch-btn > input[type='checkbox']:checked + label:after {
    left: 50%;
}

/*disabled*/
.switch-btn > input[type='checkbox']:disabled {
    cursor: not-allowed;
}


/**************/
/*slide*/
.switch-btn.slide > label {
    width: 44px;
    height: 8px;
    background-color: #1abc9c;
    top: 0;
    bottom: 0;
    margin:auto 0;
    left: 3px;
}
.switch-btn.slide > label::after {
    width: 24px;
    height: 24px;
}
.switch-btn.slide > input[type='checkbox']:hover + label::after {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.switch-btn.slide > input[type='checkbox']:checked + label::after {
    background-color: #2ecc71;
}


/***********************/
/*inside*/
.switch-btn.inside > label::after,
.switch-btn.dynamic > label::after {
    width: 16px;
    height: 16px;
    left: 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.switch-btn.inside > input[type='checkbox']:checked + label,
.switch-btn.dynamic > input[type='checkbox']:checked + label {
    background-color: #3498db;
}
.switch-btn.dynamic > input[type='checkbox']:checked + label::after,
.switch-btn.inside > input[type='checkbox']:checked + label::after {
    left: 30px;
}


/*********************/
/*dynamic*/
.switch-btn.dynamic > label {
    text-align: center;
    border: 3px solid #e0e0e0;
    background-color: transparent;
}
.switch-btn.dynamic > label::after {
    width: 8px;
    height: 8px;
    background-color: #e0e0e0;
    left: 5px;
}
.switch-btn.dynamic > input[type='checkbox']:hover + label::after {
    width: 8px;
    height: 8px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.switch-btn.dynamic > input[type='checkbox']:checked + label {
    border: 3px solid #f95d30;
    background-color: #f95d30;
}
.switch-btn.dynamic > input[type='checkbox']:checked + label::after {
    width: 16px;
    height: 16px;
    background-color: #fff;
    left: 27px;
}
