.switch-btn {
    width: 50px;
    height: 24px;
    position: relative;
    display: inline-block;
}

.switch-btn * {
    margin: 0;
    padding: 0;
}

/*******************/
/*normal*/
.switch-btn > input[type='checkbox'],
.switch-btn > label {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    cursor: pointer;
}

.switch-btn > input[type='checkbox'] {
    z-index: 100;
    opacity: 0;
}

.switch-btn > label {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background-color: #e0e0e0;
}

.switch-btn > label::after {
    content: '';
    width: 26px;
    height: 26px;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: -1px;
    top: -1px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.switch-btn > label,
.switch-btn > label::after {
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

/*hover*/
.switch-btn > input[type='checkbox']:hover + label::after {
    -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.15);
}

/*checked*/
.switch-btn > input[type='checkbox']:checked + label {
    background-color: #2ecc71;
}

.switch-btn > input[type='checkbox']:checked + label:after {
    left: 50%;
}

/*disabled*/
.switch-btn > input[type='checkbox']:disabled {
    cursor: not-allowed;
}


/**************/
/*slide*/
.switch-btn.slide > label {
    width: 44px;
    height: 8px;
    top: 8px;
    left: 3px;
    background-color: #1abc9c;
}
.switch-btn.slide > label::after {
    width: 24px;
    height: 24px;
    top: -8px;
}
.switch-btn.slide > input[type='checkbox']:hover + label::after {
    width: 26px;
    height: 26px;
    top: -9px;
}
.switch-btn.slide > input[type='checkbox']:checked + label::after {
    background-color: #2ecc71;
}
